@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: cursive;
  }
}

@layer utilities {
  #chat-list .scrollbar-track.scrollbar-track-y {
    right: 'unset';
    left: 0;
  }
}